version: "3.8"
services:
  react-app:
    build: .
    ports:
      - "3000:3000"
    volumes:
      - ./src:/app/src # <--- Crucial: We are ONLY syncing the src folder
    environment:
      - CHOKIDAR_USEPOLLING=true
      - WATCHPACK_POLLING=true
